<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light " id="topbar">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
        <div class="navbar-nav me-auto menu-items">
          <a (click)='getAllTasks()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>All Tasks</a>
            <a (click)='getPending()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>Pending</a>
            <a (click)='getHighPriority()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>High Priority</a>
            <a (click)='getOverDue()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>Over Due</a>
            <a (click)='getNearDue()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>Near Due</a>
            <a (click)='getCompleted()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>Completed</a>
            <a (click)='getArchived()' class="nav-item nav-link text-dark" data-bs-toggle="collapse" data-bs-target='.navbar-collapse.show'>Archived</a>
      </div>
    </div>
  </nav>
    
    <div class="row m-2" >
        <app-task-card class="p-3 col-lg-3 col-md-6 col-sm-12 h-25"*ngFor="let task of tasksToDisplay" [task]='task'></app-task-card>
    </div>

</div>

